<div class="left twelve columns alpha omega">
  <div class="field">
    <%= f.label :loyalty_points_eligible, Spree.t(:loyalty_points_eligible)%>
    <%= f.check_box(:loyalty_points_eligible) %>
  </div>
</div>
